# GCP
.google/
*.json
credentials.json
gcp-creds.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Python
__pycache__/
*.pyc
.env
venv/
.conda/

# VS Code
.vscode/

# Local data files
03-data-warehouse/data/